---
---

@charset "UTF-8";

$base-font-family:  -apple-system, Arial;
$base-font-size:    100%;
$base-line-height:  1.6;

$spacing-unit:      32px;
$content-width:     800px;

$background-color:  #fff;
$brand-color:       rgb(188, 25, 45);
$text-color:        #414141;
$link-color:        #417dc1;

@import
  "base",
  "layout",
  "nav",
  "footer",
  "headings",
  "home",
  "talks"
;