.home {
  h1 {
    margin-top: 0;
  }

  h2 {
    font-size: 1.5em;
  }

  .columns {
    display: flex;
    flex-direction: row;

    .intro {
      flex: 1;
      font-size: 1.1em;
    }

    .me {
      margin-left: $spacing-unit*1.5;
      margin-bottom: $spacing-unit;

      font-size: 0.9em;
      text-align: center;

      picture, img {
        width: 220px;
        height: 220px;
        border-radius: 6px;
      }

      ul {
        margin-top: 12px;
        list-style-type: none;
        margin-left: 0;
      }
    }
  }

  @include media-query($on-palm) {
    .columns {
      flex-direction: column;
      align-items: center;

      .me {
        order: 1;
        margin-left: 0;
        margin-top: $spacing-unit/4;
        margin-bottom: $spacing-unit/4;
      }
      .intro {
        order: 2;
      }
    }
  }
}
