.home {
  .columns {
    display: flex;

    .intro {
      width: 100%;
      font-size: 1.1*$base-font-size;
      line-height: 1.4;
      text-align: justify;
    }

    .me {
      margin-left: 55px;
      text-align: center;

      img {
        width: 230px;
        height: 230px;
        border-radius: 6px;
      }

      ul {
        margin-top: 10px;
        list-style-type: none;
        font-size: 0.9*$base-font-size;
      }
      li {
        margin: 4px 0;
      }

      .email {
        color: $blue-color;
        text-decoration: none;
        &:hover {
          opacity: .85;
          text-decoration: underline;
        }
      }
    }
  }
}
