.container {
  max-width: $content-width + 2*$spacing-unit;
  padding: 0 $spacing-unit;
  margin: 0 auto;
}

.page-main {
  flex-direction: column;
  flex-flow: initial;
  display: flex;
}

.page-content {
  padding-bottom: 3em;
  flex: 1 1 auto;
}