<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="theme-color" content="#3375B1">
    <link href="{{ 'main.css' | relative_url }}" rel="stylesheet">
    {% seo %}
  </head>
  <body>
    <header class="header">
      <nav class="container">
        <a class="title" href="{{ absolute_url }}/">Mitchell Wadas</a>
        <a href="{{ '/assets/CV.pdf' | relative_url }}">CV</a>
      </nav>
    </header>
    <div style="flex: 1 1 auto;">
      <section class="container {{ page.class }}">
        {{ content }}
      </section>
    </div>
    <footer>
      <div class="container">
        <div>Last updated April 2025.</div>
      </div>
    </footer>
  </body>
</html>